.about-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.about-inner-container{
    text-align: justify;
    word-break: break-word;
}
.about-inner-container h2{
    margin: 0 0 10px;
    font-size: 1.5em;
}
.about-inner-container p{
    margin: 20px 0 0;
}
.resume-btn{
    display: none;
    align-self: flex-start;
    position: relative;
    margin-top: -44px;  
}
.headshot-container{
    width: 350px;
    height: 100%;
    float: right;
    margin-left: 20px;       
}
.headshot-container img{
    width: 100%;
    object-fit: contain;
}
#about-section .background-signs h1{
    font-size: 30em;
}
#about-section .background-signs h1:nth-child(1){
    color: #69BAC3;
    position: absolute;
    top: 200px;
    left: -100px;
}
#about-section .background-signs h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 4px #51AFBB;
    font-weight: 500;
    position: absolute;
    left: 550px;
    top: 700px;
}

@media only screen and (min-width: 2561px) {
    #about-section .background-signs h1:nth-child(1){
        color: #69BAC3;
        top: 300px;
        left: -80px;
        font-size: 35em;
    }
    #about-section .background-signs h1:nth-child(2){
        color: transparent;
        -webkit-text-stroke: 4px #57B2BE;
        font-weight: 500;
        font-size: 35em;
        left: 600px;
        top: 750px;
    }
}
@media only screen and (max-width: 1920px) {
    #about-section .background-signs h1:nth-child(1){
        color: #69BAC3;
        position: absolute;
        top: 100px;
        left: -100px;
    }
    #about-section .background-signs h1:nth-child(2){
        color: transparent;
        -webkit-text-stroke: 4px #51AFBB;
        font-weight: 500;
        position: absolute;
        left: 550px;
        top: 450px;
    }
}
@media only screen and (max-width: 1024px) {
    .about-inner-container p{
        margin: 0;
    }
    #about-section .background-signs h1:nth-child(1){
        top: 10%;
        left: -10%;
    }
    #about-section .background-signs h1:nth-child(2){
        left: 40%;
        top: 50%;
    }
}
@media only screen and (max-width: 890px) {
    .resume-btn {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 678px) {
    #about-section{
        height: auto;
    }
    .about-inner-container{
        display: flex;
        flex-direction: column;
    }
    .about-inner-container h2{
        margin: 10px 0 5px;
    }
    .about-inner-container p{
        margin: 0;
    }
    .headshot-container{
        margin: 0;
        width: 100%;
    }
    .resume-btn {
        margin-top: 20px;
        align-self: center;
    }   
}
