.about-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.about-inner-container{
    text-align: justify;
    word-break: break-all;
    /* background-color: azure; */
}
.about-inner-container h2{
    margin: 0 0 10px;
    font-size: 1.5em;
}
.about-inner-container p{
    margin: 10px 0 0;
}
.resume-btn{
    align-self: flex-start;
    position: relative;
    margin-top: -44px;  
}
.headshot-container{
    width: 350px;
    height: 100%;
    float: right;
    margin-left: 20px;       
}
.headshot-container img{
    width: 100%;
    /* align-self: center; */
    object-fit: contain;
}
#about-section .background-signs h1{
    font-size: 60vh;
}
#about-section .background-signs h1:nth-child(1){
    color: #6BBBC4;
    position: absolute;
    left: -400px;
}
#about-section .background-signs h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 4px #4FAFBB;
    position: absolute;
    left: 950px;
    top: 400px;
}

@media only screen and (max-width: 890px) {
    .resume-btn {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 678px) {
    #about-section{
        height: auto;
    }
    .about-inner-container{
        display: flex;
        flex-direction: column;
    }
    .about-inner-container h2{
        margin-top:10px ;
    }
    .headshot-container{
        margin: 0;
        width: 100%;
    }   
}
