#contact-section p{
    width: 60%;
    margin: 0 auto;
    font-size: 1.25em;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto;
    font-family: 'Space Grotesk', sans-serif;
    color: #2F2F2F ;
}
.contact-form-first-row{
    display: flex;
    justify-content: space-between;
}
.contact-form-first-row span{
    display: flex;
    flex-direction: column;
    width: 49%;
}
form input:nth-child(-n+3){
    height: 40px;
}
form textarea{
    height: 300px;
    resize: none;
}
form input, textarea{
    box-sizing: border-box;
    font-size: 1rem;
    border: none;
}
form label{
    margin: 20px 0 5px;
}
.form-btn{
    width: 105px;
    margin: 20px 0 0;
    align-self: flex-end;
}
#contact-section .background-signs h1{
    position: relative;
}
#contact-section .background-signs h1:nth-child(1){
    font-size: 30em;
    left: -350px;
    top: 150px;
    color: #2EA0AF;
}

#contact-section .background-signs h1:nth-child(2){
    font-size: 30em;
    left: 250px;
    top: 150px;
    color: #1695A6;
}

@media only screen and (min-width: 2561px) {
    #contact-section .background-signs h1:nth-child(1){
        font-size: 35em;
        top: 250px;
    }

    #contact-section .background-signs h1:nth-child(2){
        font-size: 35em;
        top: 250px;
    }
}
@media only screen and (max-width: 1920px) {
    #contact-section .background-signs h1:nth-child(1){
        font-size: 30em;
        left: -350px;
        top: 50px;
        color: #2EA0AF;
    }
    
    #contact-section .background-signs h1:nth-child(2){
        font-size: 30em;
        left: 250px;
        top: 20px;
        color: #1695A6;
    }
}

@media only screen and (max-width: 1024px) {
    form{
        width: 100%;
    }
    #contact-section p{
        width: 100%;
    }
    #contact-section{
        height: 80vh;
        margin: 100px auto 20px;
    }
}
@media only screen and (max-width: 579px) {
    /* #contact-section{
        margin: 100px auto 20px;
    } */
    #contact-section p{
        font-size: 1em;
    }
    .contact-form-first-row{
        flex-direction: column;
    }
    .contact-form-first-row span{
        width: 100%;
    }
    .contact-label {
        text-align: center;
    }
    form{
        text-align: center;
    }
    form input:nth-child(-n+3){
        height: 30px;
    }
    form label{
        margin: 5px;
    }
    .form-btn{
        margin: 10px 0;
    }
}