.contact-label p{
    width: 60%;
    margin: 0 auto;
    font-size: 1.25em;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto;
    font-family: 'Space Grotesk', sans-serif;
    color: #2F2F2F;
}
.contact-container{
    z-index: 3;
}
.sent-message-container{
    text-align: center;
    margin: 50px auto 0;
    background-color: #FFF9F9;
    border: 2px solid #2F2F2F;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.contact-form-first-row{
    display: flex;
    justify-content: space-between;
}
.contact-form-first-row div{
    display: flex;
    flex-direction: column;
    width: 49%;
}
form input:nth-child(-n+3){
    height: 40px;
}
form textarea{
    height: 300px;
    resize: none;
}
form input, textarea{
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1em;
    border: none;
}
form label{
    margin: 20px 0 5px;
}
.form-btn{
    width: 105px;
    margin: 20px 0 0;
    align-self: flex-end;
}
#contact-section .background-signs h1{
    position: relative;
}
#contact-section .background-signs h1:nth-child(1){
    font-size: 30em;
    left: -350px;
    top: 150px;
    color: #2EA0AF;
}

#contact-section .background-signs h1:nth-child(2){
    font-size: 30em;
    left: 250px;
    top: 150px;
    color: #1695A6;
}

@media only screen and (min-width: 2561px) {
    #contact-section .background-signs h1:nth-child(1){
        font-size: 35em;
        top: 250px;
    }

    #contact-section .background-signs h1:nth-child(2){
        font-size: 35em;
        top: 250px;
    }
}
@media only screen and (max-width: 1920px) {
    #contact-section .background-signs h1:nth-child(1){
        font-size: 30em;
        left: -350px;
        top: 50px;
        color: #2EA0AF;
    }
    
    #contact-section .background-signs h1:nth-child(2){
        font-size: 30em;
        left: 250px;
        top: 20px;
        color: #1695A6;
    }
}

@media only screen and (max-width: 1024px) {    
    .contact-container{
        z-index: 0;
    }
    .contact-label {
        text-align: center;
    }
    form{
        width: 100%;
    }
    .sent-message-container{
        margin: 20px auto 0;
        height: 400px;
        width: 100%;
    }
    .contact-label p{
        width: 100%;
    }
    #contact-section{
        margin: 0 auto 0;
    }
    #contact-section .background-signs h1:nth-child(1){
        font-size: 23em;
        left: -12%;
        top: 5%;
    }
    #contact-section .background-signs h1:nth-child(2){
        display: none;
    }
}
@media only screen and (max-width: 579px) {
    .contact-label p{
        font-size: 1em;
    }
    .sent-message-container{
        font-size: 0.8em;
        height: 200px;
        width: 100%;
    }
    .contact-form-first-row{
        flex-direction: column;
    }
    .contact-form-first-row div{
        width: 100%;
    }
    form{
        text-align: center;
    }
    form input:nth-child(-n+3){
        height: 30px;
    }
    form label{
        margin: 5px;
    }
    .form-btn{
        margin: 10px 0;
    }
}
@media only screen and (max-height: 579px) {
    .contact-label p{
        font-size: 1em;
    }
    .sent-message-container{
        height: 200px;
        width: 100%;
    }
    form{
        max-width: 600px;
    }   
    form input:nth-child(-n+3){
        height: 30px;
    }
    form label{
        margin: 5px 0 2px;
    }
    .form-btn{
        margin: 5px 0;
    }
}