#hamburger-menu{
    height: 25px;
    width: 50px;
    display: none;
}
#hamburger-menu span{
    width: 50px;
    height: 5px;
    position: absolute;
    background-color: #2F2F2F;
}

#hamburger-menu span:nth-child(2) {
    transform: translateY(10px);
}
#hamburger-menu span:nth-child(3) {
    transform: translateY(20px);
}


@media only screen and (max-width: 1024px) {
    #hamburger-menu{
        display: block;
    }
    #hamburger-menu span{
        transition: transform 0.2s linear 0s;
    }
    #hamburger-menu span:nth-child(2){
        transition: opacity 0.1s linear 0s;
    }
}