.intrographic-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.intro-graphic-container{
    height: 300px;
    margin: 0 auto;
    top: 0;
    left: 0; 
}
.eyes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 22%;
    left: 49%;
    width: 90px;
    height: 50px;
}
.eye{
    height: 100%;
    width: 49%;
    position: relative;
    border-radius: 50%;
}
.eye1{
    height: 20px;
    width: 20px;
    top: 3px;
    left: 9px;
}
.eye2{
    width: 15px;
    height: 15px;
    right: 15px;
}
.pupil{
    border-radius:50% ;
    background-color: black;
}
.pupil1{
    width: 7px;
    height: 7px;
}
.pupil2{
    width: 6px;
    height: 6px;
}

.intro-headline p{
    font-size: 1.75em;
    letter-spacing: -1px;
}
.intro-headline p:nth-child(1) {
    margin-bottom: -0.5em;
}

.intro-headline p:nth-child(3) {
    text-align: right;
    margin-top: -0.7em;
}
.intro-headline div{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
    color: #FF8383;
}

@media only screen and (max-width: 1300px) {
    .intro-graphic-container{
        height: 250px;
        margin-bottom: 0;
     }   
     .intro-headline p{
        font-size: 1.25em ;
     }   
     .intro-headline h1{
        font-size: 3em;
     }
     .eyes{
        width: 70px;
        height: 40px;
     }
     .eye1{
        height: 18px;
        width: 18px;
        top: 3px;
        left: 12px;
     }
     .eye2{
        width: 13px;
        height: 13px;
        right: 8px;
     }
    .pupil1{
        width: 6px;
        height: 6px;
    }
    .pupil2{
        width: 5.5px;
        height: 5.5px;
    }
}

@media only screen and (max-width: 1024px) {
    .intro-graphic-container{
        height: 200px;
    }   
    .intro-headline h1{
        font-size: 2.4em;
    }   
    .eyes{
        top: 21%;
        width: 60px;
        height: 30px;
    }
    .eye1{
        height: 13px;
        width: 13px;
        top: 0px;
        left: 12px;
    }
    .eye2{
        width: 11px;
        height: 11px;
        right: 8px;
    }
    .pupil1{
        width: 5px;
        height: 5px;
    }
    .pupil2{
        width: 4px;
        height: 4px;
    }
}
@media only screen and (max-width: 579px) {
    .intro-headline p{
        display: none;
    }
    .intro-graphic-container{
        display: none;
    }
    .intro-headline{
        box-sizing: border-box;
        width: 95vw;
        /* background-color: antiquewhite; */
        overflow: hidden;

    }
    .intro-headline div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        word-break: keep-all;
        margin: 0;
        padding: 0;
        line-height: 2em;
        font-size: 27.5vw;
        overflow: hidden;
        white-space: nowrap;
    } 
   .intro-headline span:nth-child(2){
        font-size: 2.8em;
        letter-spacing: 1px;
        line-height: 0;
        padding: 0;
        margin: 13.8vw 0 9vw;
    }
} 

@media only screen and (max-height: 579px) {
    .intro-graphic-container{
        height: 150px;
    }
    .eyes{
        width: 45px;
        height: 20px;
    }
    .eye1{
        left: 8px;
        width: 10px;
        height: 10px;
    }
    .eye2{
        right: 8px;
        width: 7px;
        height: 7px;
    }
    .pupil1{
        width: 3px;
        height: 3px;
    }
    .pupil2{
        width: 2.7px;
        height: 2.7px;
    }

    .intro-headline div{
        font-size: 3em;
    }
    .intro-headline p{
        font-size: 1.3em;
    }
    .intro-headline p:nth-child(1){
        margin-top: 0;
    }
}