.downBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
}

.downBtn p{
    font-size: 1em;
}

a img{
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

.downBtn div{
    height: 3em;
    width: 3em;
}
