.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-graphic-container{
    height: 300px;
    margin: 0 auto;
    top: 0;
    left: 0; 
}
p{
    font-size: 1.8em;
    letter-spacing: -1px;
}
.intro-headline p:nth-child(1) {
    margin-bottom: -0.5em;
}

.intro-headline p:nth-child(3) {
    text-align: right;
    margin-top: -0.7em;
}
.intro-headline h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
    color: #FF8383;
}

