.downBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
}

.downBtn p{
    font-size: 0.9em;
    margin: 0;
}
.downBtn div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    width: 55px;
}
.downBtn div a{
    width: 100%;
    height: 100%;
    text-align: center;
}
a img{
    transform: rotate(90deg);
    width: 80%;
    height: 80%;
}

