.nav{
    padding: 50px 50px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}
.logo-container{
    width: 120px;
}
.logo-container img{
    width: 100%;
    rotate: -90deg;
}
.nav-list{
    list-style: none;
}
.underline-animation {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.underline-animation::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #2f2f2f;
    transition: width 0.4s ease-out;
}
.underline-animation:hover::before {
    width: 100%;
}