.project-slider-container{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.single-project-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.projects-left-column h2{
    font-size: 1.5em;
}
.projects-left-column p{
    margin-top: 20px ;
    text-align: justify;
    font-size: 1em;
}
.iconsContainer{
    display: inline-flex;
}
.iconsContainer div{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #0A90A2;
}
.iconsContainer div:nth-last-child(n + 2){
    margin-right: 20px;
}
.project-buttons{
    margin-top: 70px;
}
.projects-right-column{
    grid-column: 2;
}
.projects-right-column img{
    height: auto;
}
.live-btn{
    margin: 0 20px 0 0;
}
picture{
    width: 50%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
.navigationBtns{
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-around;   
    margin: 50px auto 0;
}
.navigationBtns button{
    font-size: 1.25em;
    color: #038DA0;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
.navigationBtns button:hover{
    opacity: 0.3;
}
.previousProjectBtn img{
    transform: rotate(180deg);
}

@media only screen and (max-width: 1366px) {
    .navigationBtns button{
        font-size: 1em;
    }
}
@media only screen and (max-width: 1023px) {
    .project-slider-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .single-project-container{
        padding-top: 10px ;
        display: flex;
        grid-gap: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .projects-right-column picture img{
        object-fit: cover;
    } 
    .projects-left-column h2{
        font-size: 1.25em;
        margin: 20px 0 0;
        text-align: center;
    }    
    .projects-left-column{
        display: flex;
        flex-direction: column;
    }
    .projects-left-column p{
        margin: 10px auto 0;
    }
    .iconsContainer{
        align-self: center;
    }
    .iconsContainer div{
        width: 35px;
        height: 35px;
        margin: 10px auto;
    }
    .iconsContainer div:nth-last-child(n + 2) {
        margin-right: 10px;
    }
    .project-buttons{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .project-btn{
        width: 100px;
        text-align: center;
    }
    .navigationBtns {
        margin: 20px auto;
        width: 250px;
        position: relative;
        bottom: 0;
    }    
}
@media only screen and (max-height: 579px) {
    .single-project-container{
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-gap: 10px;
    }
    .project-buttons{
        margin-top: 10px;
    }
    .projects-right-column picture img{
        width: 400px;
    }
    
}