.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-column{
    grid-column: 1;
}
.right-column{
    grid-column: 2;
}

.btn{
    background-color: #FFF9F9;
    border: 3px solid #2F2F2F;
    font-weight: 700;
    padding: 0.6em 1.5em;
    margin: 0 20px 0 0;
    cursor: pointer;
}