.tiles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px ;
}
.tile{
    height: 160px;
    width: 160px;
    margin: 40px;
    text-align: center;
    color: #0A90A2;
    font-weight: 700;
}
.icon-container{
    width: 75%;
    height: 75%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto 10px;
    background-color: #0A90A2;
}
#skills-section .background-signs h1{
    font-size: 100vh;
    color: #96CED3;
}

@media only screen and (max-width: 1024px) {
    .tile{
        margin: 10px;
        width: 150px;
        height: 150px; 
        text-align: center;
    }
    .tile:nth-last-child(1) {
        display: none;
    }
}
 