.tiles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px ;
}
.tile{
    height: 160px;
    width: 160px;
    margin: 30px;
    text-align: center;
    color: #0A90A2;
    font-weight: 700;
}
.icon-container{
    width: 75%;
    height: 75%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto 10px;
    background-color: #0A90A2;
}
#skills-section .background-signs h1{
    font-size: 45em;
    text-align: center;
    position: relative;
    left: -100px;
    top: 350px;
    color: #9CD0D5;
}
@media only screen and (min-width: 2561px) {
    #skills-section .background-signs h1{
        left: -130px;
        top: 450px;
        color: #9CD0D5;
    }  
}
@media only screen and (max-width: 1920px) {
    #skills-section .background-signs h1{
        font-size: 40em;
        left: -60px;
        top: 160px;
        color: #9CD0D5;
    }   
}

@media only screen and (max-width: 1536px) {
    .tile{
        width: 150px;
        height: 150px;
        margin: 15px;
    }
    #skills-section .background-signs h1{
        font-size: 35em;
        top: 110px;
        color: #9ed1d4;
    }  
    
}
@media only screen and (max-width: 1366px) {
    .tile{
        width: 140px;
        height: 140px;
    }
    #skills-section .background-signs h1{
        font-size: 35em;
        left: -100px;
        top: 110px;
    }  
}
@media only screen and (max-width: 1024px) {
    .tile{  
        width: 140px;
        height: 140px;
        margin: 25px;
    }
    #skills-section .background-signs h1{
        font-size: 35em;
        left: 50%;
        top: 50%;
        transform: translate(-70%, -50%);
        color: #9CD0D5;
    }
}
@media only screen and (max-width: 579px) {
    .tile{
        margin: 10px;
        width: 100px;
        height: 100px; 
        text-align: center;
    }
    .icon-container{
        padding: 10px;
    }
}
@media only screen and (max-width: 379px){
    .tile{
        margin: 10px auto;
    }
}
@media only screen and (max-height: 579px) {
    .tiles-container{
        width: 680px;
    }
    .tile{
        margin: 10px;
        width: 100px;
        height: 100px; 
        text-align: center;
        font-size: 0.9em;
    }
    .icon-container{
        padding: 10px;
    }
}
 