section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }  
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.btn{
    background-color: #FFF9F9;
    border: 2px solid #2F2F2F;
    font-weight: 700;
    padding: 0.6em 1.5em;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.1s ease-in;
}
.btn:hover{
    background-color: #FF8383;
}
.background-signs{
    position: absolute;
    
    font-family: 'Bebas Neue', cursive;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.background-signs h1{
    margin: 0;
    padding: 0;
    line-height: 1em;
}
a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1300px) {
    .wrapper {
        width: 85%;
    }
}
@media only screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 5px;
        box-sizing: border-box;
        width: 100%;
    }
    .btn{
        font-size: 0.75em;
    }
}
@media only screen and (max-width: 579px){
    section{
        height: auto;
        margin: 50px auto;
    }
    
}