@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  color: #2f2f2f;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#FFFCF8, #A4D4D8, #038DA0);
  background-repeat: no-repeat;
  background-size: cover;
}

